<!DOCTYPE html>
<html>
  <head>
    <title>People Info</title>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<div class="info bg-success">
	    <h1 id="name"><%= name %></h1>
	    <h2 id="age">Age: <%= age %></h2>
	    <div id="desc"><%= info %></div>
    </div>
  </body>
</html>
